pytest
pyyaml
GitPython
docker==2.5.1
redis==2.10.6
python-redis-lock==3.2.0
rq==0.8.1
jupyter==1.0.0
hiredis==0.2.0
requests==2.18.3
rq-scheduler==0.7.0
python-jose==1.4.0
schema==0.6.6
python-redis-lock==3.2.0
blosc==1.5.1

# Testing support
mockredispy==2.9.3
mypy==0.521
